//Main landing page css
/* MAIN LANDING PAGE CSS */
@import "partials/variables";
@import "partials/mixins";
@import "partials/placeholders";
h1 {
  line-height: 1.125;
}
h2 {
  line-height: 1.125;
}
h3 {
  line-height: 1.125;
}
h4 {
  line-height: 1.125;
}
h5 {
  line-height: 1.125;
}
h6 {
  line-height: 1.125;
}
p {
  line-height: 1.5;
}
ul, ol {
  line-height: 1.5;
}
.nav-section {
  position: fixed;
  width: 100%;
  margin-top: 0px;
  background-image: -webkit-linear-gradient(270deg, #06357a, #1975c7);
  background-image: -webkit-linear-gradient(top, #06357a, #1975c7);
  background-image: linear-gradient(180deg, #06357a, #1975c7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.w-nav-link {
  padding: 20px 15px;
}
/*.image {
  margin-top: 9px;
  margin-left: 44px;
}*/

.brand {
  margin-left: 10px;
  @include phone {
    margin-left: 0;
    padding-left: 0;
  }
}

.container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  clear: none;
  text-align: center;
}

.nav-link {
  position: relative;
  padding-right: 12px;
  padding-left: 12px;
  color: #fff;
  text-transform: uppercase;
}

.nav-link-2 {
  position: relative;
  padding-top: 45px;
  padding-right: 16px;
  padding-left: 16px;
  color: #fff;
  text-transform: uppercase;
}

.nav-link-3 {
  color: #fff;
  text-transform: uppercase;
}

.hero-section {
  margin-top: -77px;
  padding-top: 5px;
}

.section {
  height: 850px;
  margin-top: -21px;
  background-image: url('../images/hero1-bg.jpg');
  background-position: 0px 0px;
  background-size: cover;
  @include tablet {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/hero1-bg.jpg');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/hero1-bg.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/hero1-bg.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
  }
  @include large-phone {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/hero1-bg.jpg');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/hero1-bg.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/hero1-bg.jpg');
  }
  @include phone {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/hero1-bg.jpg');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/hero1-bg.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/hero1-bg.jpg');
  }
}

.nav-menu {
  margin: 0 auto;
}


.div-block-2 {
  position: relative;
  left: 0px;
  top: 180px;
  right: 0px;
  bottom: 0px;
  width: 450px;
  margin-top: 0px;
  margin-left: 15%;
  @include tablet {
    margin-left: 20%;
  }
  @include large-phone {
    margin-left: 10%;
  }
  @include phone {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.text-field {
  width: 300px;
  margin-bottom: 9px;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, .57);
  @include tablet {
    background-color: hsla(0, 0%, 100%, .1);
    color: #fff;
  }
  @include large-phone {
    background-color: hsla(0, 0%, 100%, .1);
  }
  @include phone {
    width: 246px;
    background-color: hsla(0, 0%, 100%, .1);
    color: #fff;
  }
  &.left {
    margin-right: 14px;
    float: left;
    @include tablet {
      float: none;
    }
    &.fsa {
      @include phone {
        color: #000;
      }

    }
  }
  &.right {
    position: static;
    margin-top: -47px;
    margin-left: 0px;
    float: right;
    @include tablet {
      margin-top: 0px;
      float: none;
    }
    @include phone {
      margin-top: 0px;
      margin-left: 0px;
      float: none;
    }
  }
  &.fsa {
    @include phone {
      color: #000;
    }
  }
}

.form-title {
  color: #fff;
}

.submit-button {
  display: block;
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  border-radius: 10px;
  background-color: #2b599c;
  text-align: center;
  text-transform: uppercase;
  @include large-phone {
    margin-left: 104px;
  }
  @include phone {
    display: block;
    margin-right: auto;
    margin-left: 80px;
  }
}

.heading {
  display: block;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  text-align: center;
  @include phone {
    width: 250px;
    font-size: 37px;
    text-align: center;
  }
}

.heading-2 {
  display: block;
  width: 450px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  padding: 13px;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25));
  color: #fff;
  font-size: 26px;
  line-height: 1.125;
  text-align: center;
  @include phone {
    width: 250px;
    color: #fff;
  }
}

.form {
  display: block;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  @include phone {
    width: 250px;
    margin-left: 0px;
  }
}

.form-block {
  display: block;
  width: 450px;
  margin-left: 0px;
  text-align: left;
  @include phone {
    width: 100%;
  }
}

.button {
  color: #fff;
  &.learn-more {
    display: block;
    width: 150px;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    background-color: #2b599c;
    text-align: center;
    text-transform: uppercase;
    @include phone {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }
}



.what-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #ddf1ff;
  @include large-phone {
    padding-top: 29px;
  }
  @include phone {
    padding-top: 12px;
  }
}

.image-2 {
  display: block;
  @include large-phone {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  @include phone {
    margin-top: 25px;
  }
}

.column {
  position: static;
  padding-left: 19%;
  @include tablet {
    padding: 0 15px;
  }
  @include phone {
    padding-left: 3%;
  }
}

.heading-3 {
  margin-bottom: 30px;
  color: #2b599c;
  font-size: 36px;
  @include large-phone {
    margin-left: 0;
    text-align: center;
  }
  @include phone {
    text-align: center;
  }
}

.paragraph {
  width: 100%;
  font-size: 15px;
  @include tablet {
    width: 100%;
  }
  &.lasik-text {

  }
  &.flex-text {
  }
}


.button-2 {
  display: block;
  width: 519px;
  margin-top: 50px;
  padding-left: 15px;
  border-radius: 10px;
  background-color: #2b599c;
  background-image: url('../images/main_arrow_icon_white.png');
  background-position: 15px 50%;
  background-size: 32px;
  background-repeat: no-repeat;
  font-size: 16px;
  text-align: center;
  @include tablet {
    margin-top: 100px;
    width: auto;
    margin: 0 auto;
    background-image: none;
  }
  @include large-phone {
    width: 100%;
    margin-top: 37px;
  }
  @include phone {
    width: auto;
    margin-top: 14px;
    margin-left: 1px;
    background-position: 3px 13px;

  }
}

.dr-mandel {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url('../images/dr-bg.jpg');
  background-position: 100% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  @include large-phone {
    padding-bottom: 6px;
  }
  @include phone {
    padding-top: 22px;
  }
}

.heading-4 {
  padding-bottom: 30px;
  color: #2b599c;
  font-size: 27px;
  line-height: 1.125;
  @include large-phone {
    display: block;
  }
  @include phone {
    width: 301px;
    margin-left: -10px;
    padding-bottom: 7px;
    text-align: center;
  }
}

.column-2 {
  padding-right: 119px;
}

.column-3 {
  margin-top: 14px;
  text-align: right;
  @include large-phone {
    text-align: center;
  }
}

.image-3 {
  margin-top: 15px;
  padding-right: 15px;
  @include phone {
    padding-right: 25px;
  }
}

.section-2 {
  padding-top: 120px;
  padding-bottom: 47px;
  background-color: #ddf1ff;
  @include phone {
    padding-top: 40px;
  }
}

.image-4 {
  float: none;
  clear: none;
}

.column-4 {
  padding-right: 35px;
  text-align: right;
}

.section-3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url('../images/form-bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  @include phone {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section-4 {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #2b599c;
}

.heading-5 {
  color: #2b599c;
  @include large-phone {
    text-align: center;
  }
  @include phone {
    text-align: center;
  }
}

.paragraph-2 {
  font-size: 17px;
  @include large-phone {
    padding: 29px;
  }
  @include phone {
    padding: 10px;
  }
}

/*.section-5 {
  height: 10px;
}*/
.address-heading {
  margin-top: 0;
  color: #2b599c;
}
.address {
  margin-bottom: 10px;
}
.map_div {
  height: 400px;
}
.text-block-2 {
  color: #fff;
  text-align: center;
}

.link-block {
  border-style: none;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  @include tablet {
    margin-left: auto;
    margin-right: 10px;
  }
}
.link-block__toll-free {
  @include phone {
    display: block;
  }
}
.menu-button.w--open {
  @include tablet {
    background-color: transparent;
  }
  @include large-phone {
    background-color: transparent;
  }
  @include phone {
    background-color: transparent;
  }
}
.form-2 {
  @include large-phone {
    margin-left: 136px;
    text-align: center;
  }
  @include phone {
    display: block;
    padding-left: 36px;
  }
}

.icon {
  @include phone {
    color: #fff;
  }
}

.form-block-2 {
  @include phone {
    margin: 10px auto;
  }
}
